<h1>Movies</h1>
<div *ngFor="let movie of movies">
  <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: movie }">
  </ng-container>
</div>

<h1>Favorite Movies</h1>
<div *ngFor="let movie of favoriteMovies">
  <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: movie }">
  </ng-container>
</div>

<ng-template #itemTemplate let-item>
  <span>{{ item.name }}</span>
  <p>{{ item.description }}</p>
  <button (click)="onClick(item)">Click Me</button>
</ng-template>
